@media (max-width: 1137px) {
    .header {
        padding: .8rem 4rem;
    }
    .header--li__link {
        font-size: 1.4rem;
    }
    .header--button__li-link {
        font-size: 1.4rem;
    }
    .heading {
        font-size: 5rem;
    }
    .heading--h4 {
        font-size: 3.5rem;
    }
    .page1--row {
        width: calc(100% - 3.2rem);
        margin: auto;
    }
    .page1--container__link {
        width: 21%;
        font-size: 1.6rem;
    }
    .form--1__p {
        font-size: 3.5rem;
    }
    .form--1__p1 {
        font-size: 1.2rem;
    }
}

@media (max-width: 1023px) {
    .footer--logo__link img {
        width: 60%;
    }
    .footer--logo__link-congnhan img {
        width: 50%;
    }
    .footer--heading__h5 {
        text-align: left;
        margin-top: 1.8rem;
    }
    .footer--heading__p {
        text-align: left;
    }
    .footer--p,
    .footer--link {
        margin-left: 0;
        margin-bottom: 1.8rem;
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .logo-link {
        width: 8rem;
    }
    .heading {
        font-size: 3rem;
    }
    .heading--h4 {
        font-size: 2.5rem;
    }
    .header--button__li-link {
        padding: .8rem;
    }
    .header--li__link {
        font-size: 1.2rem;
    }
    .header--button__li-link {
        font-size: 1.2rem;
    }
    .header--li__link {
        margin: unset;
    }
    .sliders {
        margin-top: 5.6rem;
    }
    .page1--container__link {
        width: 30%;
        font-size: 1.4rem;
    }
    .form--1 {
        padding: 4rem 1.6rem;
    }
    .button-form {
        width: 16rem;
    }
    .form--1__p {
        font-size: 2.2rem;
    }
    .form--1__p1 {
        font-size: 1.2rem;
    }
    .page6--item__img {
        padding: 0;
    }
    .page3-5--item__p {
        font-size: 2.2rem;
    }
    .page3-5--item__price {
        font-size: 2rem;
    }
}

@media (max-width: 767px) {
    .sliders {
        margin-top: 6.5rem;
    }
    .header--ul {
        position: fixed;
        left: 100%;
        top: 0;
        bottom: 0;
        display: block;
        background: linear-gradient(45deg, #118650, #0c7745, #00502b);
        width: 50%;
        white-space: nowrap;
        height: 100%;
        visibility: hidden;
        opacity: 0;
        transition: all .2s ease-in-out;
    }
    .heading {
        font-size: 3rem;
    }
    .heading--h4 {
        font-size: 2rem;
    }
    .header--ul__li-img {
        display: block;
    }
    .header--ul.show {
        left: 0;
        visibility: initial;
        opacity: 1;
    }
    .header--li__link {
        display: inline-block;
        margin: .8rem 1.6rem;
    }
    .modal--header {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .2);
        right: 100%;
        display: flex;
    }
    .modal--header.display {
        right: 0;
    }
    #menu {
        display: block;
    }
    .logo--menu-link {
        width: 50%;
        margin: 1.6rem auto 0 auto;
        display: block;
    }
    .logo--menu-link img {
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
    .header--button__li-link-dky,
    .header--button__li-link-phone {
        margin: 1.6rem 2.2rem;
        display: block;
        text-align: center;
        padding: .8rem;
    }
    .logo-link {
        width: 10rem;
    }
    .button-dangky {
        margin: auto;
        width: 16rem;
        font-size: 1.4rem;
        padding: 0.8rem 1.6rem;
        display: block;
        margin-top: 1.8rem;
    }
    .form--1__p1 {
        font-size: 1.4rem;
    }
    .form--1 {
        padding: 4rem 1.6rem;
    }
    .page2--item__img {
        padding: 1.8rem;
    }
    .page1--row {
        width: calc(100% - 1.6rem);
    }
    .button-form {
        width: 16rem;
    }
    .form--1__p {
        font-size: 2.4rem;
    }
    .page6--container {
        padding: 10rem 0;
    }
    .page5--item__img-left {
        transform: translateY(0);
    }
    .page3-5--item__p {
        font-size: 2rem;
    }
    .page3-5--item__price {
        font-size: 1.8rem;
    }
}

@media (max-width: 583px) {
    .heading {
        font-size: 1.8rem;
    }
    .heading--h4 {
        font-size: 1.4rem;
    }
    .page2--item__img {
        padding: 0;
    }
    .form--1 {
        padding: 4rem 1.6rem;
    }
    .button-form {
        width: 16rem;
    }
    .form--1__p {
        font-size: 1.8rem;
    }
    .form--1__p1 {
        font-size: 1.2rem;
    }
    .page3-5--item__p {
        font-size: 1.4rem;
    }
    .page3-5--item__price {
        font-size: 1.2rem;
    }
}